
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f6f7fb, #dfe7ff);
  font-family: Arial, sans-serif;
}


.calculator {
  width: 320px;
  padding: 24px;
  border-radius: 50px;
  background-color: #7695c0;
  box-shadow: 0 20px 40px rgba(31, 41, 55, 0.25);
}


.display {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 30px;
  background-color: #323e59;
  color: #ffffff;
  text-align: right;
}
/* 폰트 사이즈 변경으로 숫자를 키웠습니다. */
.expression {
  margin: 0;
  min-height: 20px;
  color: #96a3ba;
  font-size: 25px;
}

.result {
  margin: 10px 0 0;
  min-height: 40px;
  font-size: 32px;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* 버튼이랑 규격에 반지름을 늘려 조금 둥그럽게 계산기를 만들어봤습니다. */
/* 폰트 사이즈 변경으로 숫자를 키웠습니다. */
button {
  border: none;
  border-radius: 25px;
  padding: 18px 0;
  font-size: 25px;
  cursor: pointer;
  background-color: #ffffff;
}


.operator {
  background-color: #f59e0b;
  color: #ffffff;
}


.action {
  background-color: #e5e7eb;
  color: #111827;
}

/* 등호를 세로로 1줄 늘리는 코드를 추가했습니다. */
.equal {
  grid-row: span 2;
  background-color: #2563eb;
  color: #ffffff;
}
